In [2]:
import pandas as pd
import random
from sklearn import datasets
import matplotlib.pyplot as plt
%matplotlib inline

In [155]:
iris = datasets.load_iris()
iris.keys()
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [156]:
# adding Gender to the df
g = ['Male', 'Female']

glist = []
for a in range(df.shape[0]):
    glist.append(g[random.randrange(len(g))])
df['Gender'] = pd.Series(glist)

In [157]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Gender
0,5.1,3.5,1.4,0.2,Male
1,4.9,3.0,1.4,0.2,Male
2,4.7,3.2,1.3,0.2,Male
3,4.6,3.1,1.5,0.2,Female
4,5.0,3.6,1.4,0.2,Female

In [158]:
#creating gender_two just to compare 
df['gender_two'] = df['Gender']

In [159]:
# ditto for gender_3

# changing gender_3 to type Category 
df['gender_3'] = df['Gender']
df['gender_3'] = df['gender_3'].astype('category')
print df['gender_3'].head()

# cat.codes changes Female/Male to 0/1 .... NOTE: the dtype for the Series has to be Category for this to work. 
# Female always comes up 0 no matter how many times I run it. It must map 0 to the first category alphabetically etc.
df['gender_3'] = df['gender_3'].cat.codes
print df[['Gender', 'gender_3']].head()

# you can do it all in one move
# THIS IS THE EASIEST ONE IMHO...
# this creates a new column gender_4 but could just as easily overwrite the Gender column. 
df['gender_4'] = df['Gender'].astype('category').cat.codes
df['gender_4'].head()

0      Male
1      Male
2      Male
3    Female
4    Female
Name: gender_3, dtype: category
Categories (2, object): [Female, Male]
   Gender  gender_3
0    Male         1
1    Male         1
2    Male         1
3  Female         0
4  Female         0

0    1
1    1
2    1
3    0
4    0
Name: gender_4, dtype: int8

In [160]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Gender,gender_two,gender_3,gender_4
0,5.1,3.5,1.4,0.2,Male,Male,1,1
1,4.9,3.0,1.4,0.2,Male,Male,1,1
2,4.7,3.2,1.3,0.2,Male,Male,1,1
3,4.6,3.1,1.5,0.2,Female,Female,0,0
4,5.0,3.6,1.4,0.2,Female,Female,0,0

In [161]:
# pd.get_dummies() is good if you need to make dummy explanatory variables for say a linear regression
# it creates 2 new columns Gender_Female and Gender_Male and sets them accordingly ...
pd.get_dummies(df, columns=['Gender']).head()

# this creates a new dataframe. If you want this to be added to df then ..
# df = pd.get_dummies(df, columns=['Gender'])   ... should do the trick... it actually overwrites df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),gender_two,gender_3,gender_4,Gender_Female,Gender_Male
0,5.1,3.5,1.4,0.2,Male,1,1,0,1
1,4.9,3.0,1.4,0.2,Male,1,1,0,1
2,4.7,3.2,1.3,0.2,Male,1,1,0,1
3,4.6,3.1,1.5,0.2,Female,0,0,1,0
4,5.0,3.6,1.4,0.2,Female,0,0,1,0

In [162]:
# this is the same as my first example in the email. this assumes only 2 values for gender.
# if there is an "unknown" value then this won't work.
df['g_5'] = pd.Series([0 if x == 'Male' else 1 for x in df['gender_two']], index=df.index)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Gender,gender_two,gender_3,gender_4,g_5
0,5.1,3.5,1.4,0.2,Male,Male,1,1,0
1,4.9,3.0,1.4,0.2,Male,Male,1,1,0
2,4.7,3.2,1.3,0.2,Male,Male,1,1,0
3,4.6,3.1,1.5,0.2,Female,Female,0,0,1
4,5.0,3.6,1.4,0.2,Female,Female,0,0,1